<h5>All Customers</h5>
<!-- <div *ngFor="let cust of customers">
  <a [routerLink]="['/customers', cust.id]" style="color:black"><span class="badge badge-dark">{{cust.id}}</span> ->
    {{ cust.FullName }}</a>
</div> -->
<div class="mat-elevation-z8">

  <mat-form-field class="col-sm-12">

    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Example" #input>
  </mat-form-field>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>



  <mat-table table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="FullName">
      <mat-header-cell mat-sort-header *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <ng-container *ngIf="!editUsr.id || !user.id || user.id!==editUsr.id">
          <p class="text-truncate">{{user.FullName}}</p>
        </ng-container>
        <ng-container *ngIf="editUsr.id && user.id && user.id===editUsr.id">
          <mat-form-field appearance="fill">
            <input matInput placeholder="Name" autocomplete="off" required [disabled]="editdisabled" name="FullName"
              [(ngModel)]="user.FullName">
            <!-- <mat-error *ngIf="user.FullName.hasError(' required')">Please Eneter Valid Full name</mat-error> -->

          </mat-form-field>
        </ng-container>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="MobileNumber">
      <mat-header-cell mat-sort-header *matHeaderCellDef>Mobile Number</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <ng-container *ngIf="!editUsr.id || !user.id || user.id!==editUsr.id">
          <p class="text-truncate">{{user.MobileNumber || 'N/A'}} </p>
        </ng-container>
        <ng-container *ngIf="editUsr.id && user.id && user.id===editUsr.id">
          <mat-form-field appearance="fill">
            <input matInput placeholder="MobileNumber" autocomplete="off" required [disabled]="editdisabled"
              name="MobileNumber" [(ngModel)]="user.MobileNumber">
          </mat-form-field>
        </ng-container>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Gender">
      <mat-header-cell mat-sort-header *matHeaderCellDef>Gender</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <ng-container *ngIf="!editUsr.id || !user.id || user.id!==editUsr.id">
          <p class="text-truncate">{{user.Gender || 'N/A'}} </p>
        </ng-container>
        <ng-container *ngIf="editUsr.id && user.id && user.id===editUsr.id">
          <!-- <mat-form-field appearance="fill">
            <input matInput placeholder="Gender" required [disabled]="editdisabled" name="Gender"
              [(ngModel)]="user.Gender"> -->
          <mat-radio-group appearance="fill" required aria-label="Select an option" name="Gender"
            [disabled]="editdisabled" [(ngModel)]="user.Gender">
            <div *ngIf=" editUsr.Gender=='Male'">
              <mat-radio-button value="Male" [checked]=true>Male</mat-radio-button>
              <mat-radio-button value="Female">Female</mat-radio-button>
            </div>
            <div *ngIf="editUsr.Gender=='Female'">
              <mat-radio-button value="Male">Male</mat-radio-button>
              <mat-radio-button value="Female" [checked]=true>Female</mat-radio-button>
            </div>
          </mat-radio-group>
          <!-- </mat-form-field> -->
        </ng-container>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="State">
      <mat-header-cell mat-sort-header *matHeaderCellDef>State</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <ng-container *ngIf="!editUsr.id || !user.id || user.id!==editUsr.id">
          <p class="text-truncate">{{user.State || 'N/A'}} </p>
        </ng-container>
        <ng-container *ngIf="editUsr.id && user.id && user.id===editUsr.id">
          <mat-form-field appearance="fill">
            <!-- <input matInput placeholder="State" required [disabled]="editdisabled" name="State"
              [(ngModel)]="user.State"> -->
            <mat-select [(ngModel)]="user.State" name="State" [disabled]="editdisabled" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let state of State" [value]="state">
                {{state}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="City">
      <mat-header-cell mat-sort-header *matHeaderCellDef>City</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <ng-container *ngIf="!editUsr.id || !user.id || user.id!==editUsr.id">
          <p class="text-truncate">{{user.City || 'N/A'}} </p>
        </ng-container>
        <ng-container *ngIf="editUsr.id && user.id && user.id===editUsr.id">
          <mat-form-field appearance="fill">
            <mat-select [(ngModel)]="user.City" name="City" [disabled]="editdisabled" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let city of City" [value]="city">
                {{city}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="DOB">
      <mat-header-cell mat-sort-header *matHeaderCellDef>Date Of Birth</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <ng-container *ngIf="!editUsr.id || !user.id || user.id!==editUsr.id">
          <p class="text-truncate">{{user.DOB || 'N/A'}} </p>
        </ng-container>
        <ng-container *ngIf="editUsr.id && user.id && user.id===editUsr.id">
          <mat-form-field appearance="fill">
            <input matInput placeholder="DOB" type="date" autocomplete="off" min="1980-01-01" required
              [disabled]="editdisabled" name="DOB" [(ngModel)]="user.DOB">
          </mat-form-field>
        </ng-container>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="username">
      <mat-header-cell mat-sort-header *matHeaderCellDef>Username</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <ng-container *ngIf="!editUsr.id || !user.id || user.id!==editUsr.id">
          <p class="text-truncate">{{user.username || 'N/A'}} </p>
        </ng-container>
        <ng-container *ngIf="editUsr.id && user.id && user.id===editUsr.id">
          <mat-form-field appearance="fill">
            <input matInput placeholder="username" autocomplete="off" required [disabled]="editdisabled" name="username"
              [(ngModel)]="user.username">
          </mat-form-field>
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <ng-container *ngIf="!editUsr.id || !user.id || user.id!==editUsr.id">
          <mat-icon matTooltip="edit" (click)="editROw(user)">edit</mat-icon> | <mat-icon matTooltip="Delete"
            (click)="delete(user)">delete
          </mat-icon>
        </ng-container>
        <ng-container *ngIf="editUsr.id && user.id && user.id===editUsr.id">
          <mat-icon (click)="updateEdit()" matTooltip="Update">done</mat-icon> | <mat-icon matTooltip="Delete"
            (click)="cancelEdit()">cancel</mat-icon>
          <!-- <button mat-raised-button color="primary" matTooltip="Update" class="mr-10 mb-6" [disabled]="editdisabled"
            (click)="updateEdit()">Update</button>
          <button mat-raised-button color="warn" matTooltip="Cancel" [disabled]="editdisabled"
            (click)="cancelEdit()">Cancel</button> -->
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayColumns; sticky:true"></mat-header-row>
    <mat-row *matRowDef="let user; columns: displayColumns;"></mat-row>


    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </mat-table>
</div>
